body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  background-color: #ebf2fe;
}

#welcome-content {
  display: flex;
  width: 100%;
  margin: 0;
  align-items: center;
}

.flex-item {
  flex: 1;
  padding: 10px;
  margin: 0px 20px;
}

/* Styling the Start-Quiz button */
#start-quiz-button,
#next-question-button {
  border: none;
  border-radius: 15px;
  background: #242e49;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.6s ease-in-out;
  font-size: 1.5rem;
  margin-top: 100px;
}

#start-quiz-button:hover,
#next-question-button:hover {
  background: linear-gradient(to right, #242e49, #51618b);
}

/* Animation for the button */
.animated-button {
  opacity: 0;
  transform: translateY(60px);
  animation: fadeInUp 0.8s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------------- */
#whiskers-image {
  width: 100%;
  border-radius: 30px;
}

/* Styling the Progress line */
.progress-line {
  width: 100vw;
}

.progress-line .progress-line-image-container {
  position: relative;
}

.progress-line .progress-line-image {
  width: 100%;
}

.progress-line .cat-icon {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100px;
  height: auto;
}

/* Styling the player lives and timer */
.player-lives-timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}

.player-lives {
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: #51618b;
  padding: 10px;
  width: 255px;
}

.player-lives img {
  margin-right: 10px;
  width: 80px;
}

/* Styling the answers */
#answers-list {
  background-color: #98a7cd;
  padding: 0.6vw;
}

/* General styles */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}