* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  background-color: #ebf2fe;
}

#welcome-content {
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.flex-item {
  flex: 1;
  padding: 10px;
  margin: 0px 20px;
}

/* Styling the Start-Quiz button */
#start-quiz-button,
#next-question-button {
  border: none;
  border-radius: 15px;
  background: #242e49;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.6s ease-in-out;
  font-size: 1.5rem;
}

#start-quiz-button {
  margin-top: 100px;
}

#start-quiz-button:hover,
#next-question-button:hover {
  background: linear-gradient(to right, #242e49, #51618b);
}

/* Animation for the button */
.animated-button {
  opacity: 0;
  transform: translateY(60px);
  animation: fadeInUp 0.8s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------------- */
#whiskers-image {
  width: 100%;
  border-radius: 30px;
}

/* -------------------------- */
/* Styling the Progress line */
.progress-line {
  width: 100vw;
}

.progress-line .progress-line-image-container {
  position: relative;
}

.progress-line .progress-line-image {
  width: 100%;
}

.progress-line .cat-icon {
  position: absolute;
  top: 20%;
  left: 0;
  width: 10vw;
  height: auto;
}

/* -------------------------- */
/* Styling the player lives and timer */
.player-lives-timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 80px;
}

.player-lives {
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: #51618b;
  padding: 10px;
  width: 275px;
  height: 90px;
}

.player-lives img {
  margin-right: 10px;
  width: 80px;
}

.timer-and-score-container{
  display: flex;
  flex-direction: column;
  background-color: #d7def0;
  padding: 1vw 2vw;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cronometer{
  color: #c25555;
  font-size: large;
  font-weight: bold;
}

/* --------------------- */
/* Styling the answers */
#answers-list {
  padding: 0.6vw;
  margin: 1vw 20vw;
  display: flex;
  flex-direction: column;
}

#answers-list button {
  border: none;
  border-radius: 25px;
  background: #97a6d0;
  color: white;
  padding: 0.5vw 2vw;
  margin: 0.4vw 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 1rem;
}

#answers-list button:hover {
  background: #242e49;
}

/* ------------------ */
/* General styles */
.centered {
  text-align: center;
}

.scrollable {
  height: auto;
  overflow: auto;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

/* ----------------------------- */
/* For smaller Screen */
@media (max-width: 600px) {

  /* Welcome Page */
  #welcome-content {
    display: flex;
    flex-direction: column;
  }

  #start-quiz-button {
    margin-top: 10px;
  }

  /* Player Lives */
  .player-lives {
    width: 35vw;
    height: 12vw;
  }

  .player-lives img {
    margin-right: 10px;
    width: 50px;
  }
}